* {
  font-family: Tabular, sans-serif;
  font-size: 17px;
  box-sizing: border-box;
}
#abstain,
body,
.container,
h1,
header,
html {
  margin: 0;
}
body {
  padding: 0;
  background: #ededed;
  background: linear-gradient(180deg, #f0f0f0 0, #eaeaea 50%, #f1f1f1 100%);
}
.container {
  min-height: 100vh;
  flex-direction: column;
  text-align: center;
}
footer,
header {
  flex-grow: 0;
  flex-shrink: 0;
}
.app-area {
  justify-content: flex-start;
  flex-direction: column;
  flex-grow: 1;
}
.accordion,
.app-area,
.card,
.confirm-choices,
.container,
.controls,
#copyright,
.footer-info,
#game-stats-area,
header,
.left-area,
.number-control,
.number-controls,
.option-area,
.option-card,
.option-right,
.option-value,
.options,
.results,
.results-sub2,
.results-area,
.rounds,
.setting,
.settings,
.settings-area,
.voting-area {
  display: flex;
}
header {
  justify-content: left;
  height: auto;
  border-bottom: 1px solid #000;
}
h1 {
  display: inline-block;
  padding: 20px;
  font-family: Helvetica, sans-serif;
  font-size: 24px;
  letter-spacing: 1px;
}
@media (max-width: 599px) {
  .accordion {
    height: 567px;
  }
  .footer-info {
    margin: 0 0 16px;
  }
  .option-card,
  .option-right,
  .results-area,
  .results-sub2,
  .rounds,
  .setting,
  .settings,
  .settings-area,
  .voting-area,
  .left-area {
    flex-direction: column;
  }
  .option-card,
  .option-right {
    gap: 20px;
  }
  .option-area,
  .results-area {
    width: 100%;
    border-bottom: 1px solid #000;
  }
  #next-round {
    margin: 20px 0;
  }
  .round-name {
    margin: 20px 0;
    padding: 0;
  }
  .round-info {
    padding: 0 20px;
  }
  .results-sub2 {
    gap: 0;
  }
}
@media (min-width: 600px) {
  .accordion {
    height: unset;
  }
  .footer-info {
    margin: 0;
  }
  .rounds,
  .setting,
  .settings,
  .results-sub2,
  .voting-area {
    flex-direction: row;
  }
  .left-area,
  .option-card,
  .option-right,
  .results-area {
    flex-direction: column;
  }
  .left-area {
    width: 48%;
  }
  .accordion {
    width: 52%;
  }
  .option-area,
  .results-area {
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
  }
  .option-right {
    gap: 24px;
  }
  #next-round {
    margin: 0 20px 0 0;
  }
  .round-name {
    margin: 0;
    padding: 20px;
  }
  .round-info {
    max-width: 300px;
    padding: 20px;
  }
  .results-area {
    max-height: auto;
  }
  .results-sub2 {
    gap: 20px;
  }
}
@media (min-width: 1024px) {
  .option-card,
  .option-right,
  .rounds,
  .setting,
  .settings,
  .voting-area {
    flex-direction: row;
  }
  #next-round {
    margin: 0 20px 0 0;
  }
  .round-name {
    margin: 0;
    padding: 20px;
  }
  .round-info {
    max-width: none;
    padding: 20px;
  }
  .results-area {
    max-height: 252.5px;
  }
}
.rounds {
  align-items: center;
  justify-content: space-between;
  height: auto;
  margin-left: 0 0 20px;
  border-bottom: 1px solid #000;
}
.round-name {
  display: inline-block;
}
.round-info {
  display: inline-block;
  margin: 0;
}
#round-weight {
  font-weight: 500;
}
.voting-area {
  justify-content: left;
  height: 100%;
  flex-grow: 1;
  margin: 0;
}
.card-label {
  font-weight: 500;
  margin: 0;
}
.option-area {
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  height: auto;
  padding: 20px;
}
.option-card {
  background-color: rgba(220, 220, 220, 0.5);
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: auto;
  width: auto;
}
.options {
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  gap: 20px;
}
.option-right {
  align-self: center;
}
.option-value {
  flex-direction: row;
  align-self: center;
  gap: 6px;
}
.results-area {
  justify-content: flex-start;
  align-items: left;
  padding: 20px;
  height: 45%;
  flex-grow: 1;
  gap: 20px;
}
.results-label {
  font-weight: 500;
  padding-bottom: 10px;
  margin: 0;
}
.results {
  flex-direction: column;
  gap: 10px;
}
#stats-area {
  background-color: #eaeaea;
  padding: 10px;
}
.stat {
  padding: 4px 10px;
  margin: 0;
  width: 100%;
  text-align: left;
}
#history-area {
  background-color: #eaeaea;
  padding: 4px 20px 10px;
  overflow: scroll;
  width: 100%;
  max-height: 420.5px;
}
#history-area p {
  margin: 0;
  text-align: left;
}
#history-area p:nth-child(4n + 1) {
  margin: 10px 0 0;
  text-align: left;
  font-weight: 500;
}
#history-area p:nth-child(4n) {
  margin: 0 0 20px;
}
#settings-area {
  background-color: #eaeaea;
  justify-content: flex-start;
  overflow: scroll;
  max-height: 420.5px;
  padding: 10px;
}
.setting {
  justify-content: space-between;
  align-self: center;
  width: 100%;
  gap: 10px;
  margin: 0;
  background-color: #eaeaea;
  border-radius: 20px;
  padding: 10px;
}
.setting-name {
  margin: 0;
  text-align: left;
  align-self: center;
  width: 60%;
  flex-wrap: wrap;
}
input {
  background: #fafafa;
  height: 37px;
  width: 87.2px;
  border: 1px solid #000;
  border-radius: 4px;
  text-align: center;
  outline: 0;
}
input::placeholder {
  color: #000;
}
input:focus::placeholder {
  color: transparent;
}
input[disabled] {
  color: #a0a0a0;
  background-color: #eaeaea;
  border: 1px solid #a0a0a0;
}
input[disabled]:hover,
.number-control[disabled]:hover,
.button[disabled]:hover {
  cursor: not-allowed;
}
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
}
input[type="checkbox"] {
  accent-color: #000;
  height: 37px;
  width: 37px;
  border: 1px solid #000;
  background: #fff;
  border-radius: 4px;
  margin: 0;
}
input[type="checkbox"]:checked {
  border-radius: 4px;
}
.anti-status {
  margin: 0;
  line-height: 37px;
  width: 77px;
}
.switch {
  --line: #fff;
  --dot: #000;
  --circle: #000;
  --duration: 0.3s;
  --text: #9ea0be;
  cursor: pointer;
  position: relative;
}
.switch:before {
  content: "";
  width: 90px;
  height: 35px;
  border: 1px solid #000;
  border-radius: 4px;
  background: #fff;
  position: absolute;
  left: 0;
  top: 0;
}
.switch input {
  display: none;
}
.switch input + div {
  position: relative;
}
.switch input + div span {
  padding-left: 92px;
}
.switch input + div span:before {
  --x: 0;
  --b: var(--circle);
  --s: 1px;
  content: "";
  position: absolute;
  left: 4px;
  top: 4px;
  width: 29px;
  height: 29px;
  border-radius: 4px;
  box-shadow: inset 0 0 0 var(--s) var(--b);
  transform: translateX(var(--x));
  transition: transform var(--duration) ease;
}
.switch input + div span:not(:empty) {
  padding-left: 68px;
}
.switch input:checked + div:before {
  --s: 1;
}
.switch input:checked + div:after {
  --s: 0;
}
.switch input:checked + div span:before {
  --x: 55px;
  --s: 16px;
  --b: var(--dot);
}
#active-streak-accrual-rate-input,
#active-streak-threshold-input,
#vote-accrual-rate-input {
  background: #fafafa;
  height: 37px;
  width: 92px;
  margin: 0;
  border: 1px solid #000;
  border-radius: 4px;
  text-align: center;
  align-self: center;
}
.number-controls {
  flex-direction: row;
  font-size: 0;
  align-self: center;
  gap: 4px;
}
.number-control {
  border: 1px solid #000;
  background: #fafafa;
  width: auto;
  height: 37px;
  padding: 0 10px;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  justify-content: center;
  vertical-align: middle;
  color: #000;
  cursor: pointer;
}
.number-control:hover {
  transition-duration: 0.3s;
  background-color: #ececec;
}
.number-control[disabled] {
  border: 1px solid #a0a0a0;
  background-color: #eaeaea;
  color: #a0a0a0;
  cursor: default;
}
.left {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.right {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.no-left-border {
  border-left-width: 0;
}
.controls {
  justify-content: space-around;
}
.button {
  width: auto;
  cursor: pointer;
  border-radius: 4px;
  background-color: #fafafa;
  padding: 6px 10px;
  color: #000;
  border: 1px solid #000;
  align-self: center;
}
.button:hover {
  transition-duration: 0.3s;
  background-color: #ececec;
}
.button[disabled] {
  transition-duration: 0.3s;
  background-color: #eaeaea;
  color: #a0a0a0;
  border: 1px solid #a0a0a0;
  cursor: default;
}
.next-round-float {
  position: fixed;
  top: 10%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
}
@keyframes glowing {
  0%,
  100% {
    box-shadow: 0 0 -10px rgb(178, 178, 178);
  }
  40%,
  60% {
    box-shadow: 0 0 20px rgb(178, 178, 178);
  }
}
@keyframes blink {
  0% {
    color: #000;
    background-color: #fff;
  }
  25% {
    color: #fff;
    background-color: #000;
  }
  50% {
    color: #000;
    background-color: #fff;
  }
  75% {
    color: #fff;
    background-color: #000;
  }
  100% {
    color: #000;
    background-color: #fff;
  }
}
.button-blink {
  animation: blink 3.7s infinite;
}
#rate-set-button,
#streak-rate-set-button,
#threshold-set-button {
  width: 77px;
}
.confirm {
  display: none;
}
.confirm > div:first-of-type {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 2;
}
.confirm > div:last-of-type {
  padding: 10px 20px;
  background: #fff;
  position: fixed;
  width: auto;
  height: auto;
  left: 50%;
  top: 50%;
  vertical-align: middle;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  border: 1px solid #333;
  z-index: 3;
}
.confirm > div:last-of-type div:first-of-type {
  min-width: 250px;
  padding: 10px 10px 20px;
}
.confirm > div:last-of-type div:last-of-type {
  text-align: center;
}
.confirm-choices {
  flex-direction: row;
  justify-content: space-between;
  padding: 0 20px 10px;
}
#confirm-no,
#confirm-yes {
  font-size: 17px;
  border-radius: 4px;
  width: 70px;
  padding: 6px 10px;
  color: #000;
  background: #fafafa;
  border: 1px solid #000;
}
#confirm-no:hover,
#confirm-yes:hover {
  cursor: pointer;
  transition-duration: 0.3s;
  background-color: #ececec;
}
.footer-info {
  padding: 20px;
  justify-content: center;
  align-self: center;
}
#footer-link {
  color: #000;
  text-decoration: none;
  padding-left: 8px;
  font-weight: 500;
}
#copyright {
  font-size: 20px;
  font-weight: 100;
  padding: 0 8px 0 10px;
  line-height: 28px;
}
.instructions {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-bottom: 5px;
}
.instruction {
  width: 350px;
  padding: 2px;
  text-align: center;
}
.instructions h3 {
  font-size: 14px;
}
.accordion {
  flex-direction: column;
  background: none;
  overflow: hidden;
  border-bottom: 1px solid #000;
}
.accordion-tabs {
  display: flex;
  background: none;
}
.accordion-tabs .accordion-tab {
  background: none;
  padding: 20px;
  font: inherit;
  font-weight: 500;
  color: #000;
  flex: 1;
  border: none;
  cursor: pointer;
  transition: background 0.1s ease;
}
.accordion-tabs .accordion-tab:hover {
  background: #e2e2e2;
  /*background: #beefff;*/
}
.accordion-tabs .accordion-tab:last-child {
  border-right: 0;
}
.accordion-tabs .accordion-tab.accordion-active {
  background: #dcdcdc80;
}
.accordion-tabs :focus {
  outline: none;
}
.accordion-item {
  padding: 20px;
  display: none;
  border: none;
  background: #dcdcdc80;
}
.accordion-item.accordion-active {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.accordion-item:last-child {
  border: none;
}
.accordion-item__label {
  margin: 0;
  padding: 0;
  cursor: pointer;
  transition: padding 0.2s ease;
  position: relative;
  font-weight: 500;
  margin-bottom: 20px;
}
.accordion-item__container {
  display: flex;
  flex-direction: column;
  height: 0;
  padding: 0;
  overflow: scroll;
  opacity: 0;
  transition: padding 0.2s ease, opacity 0.5s 0.15s ease;
}
.accordion-item.accordion-active .accordion-item__container {
  padding: 0;
}
.accordion-active {
  background: rgba(220, 220, 220, 0.5);
}
.accordion-active .accordion-item__label {
  padding-bottom: 0;
  cursor: inherit;
}
.accordion-active .accordion-item__container {
  height: auto;
  flex-grow: 1;
  opacity: 1;
}
.accordion-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.accordion + p {
  color: #eaeaea;
  font-weight: 300;
  font-size: 0.9rem;
  margin-top: 2rem;
}
