@charset "UTF-8";

@media (max-width: 599px) {
  a {
    margin: 0 0 50px;
  }
  #get-quote {
    font-size: 24px;
  }
  .portfolio {
    margin: 0 18% 60px;
  }
  #info-header {
    padding: 50px 23px;
  }
}

@media (min-width: 600px) {
  a {
    margin: 0 0 50px;
  }
  #get-quote {
    font-size: 36px;
  }
  .portfolio {
    margin: 0 28% 60px;
  }
  #info-header {
    padding: 50px 23px;
  }
}

@media (min-width: 1024px) {
  .portfolio {
    margin: 0 37% 60px;
  }
  #info-header {
    padding: 50px 23px;
  }
}

body,
header,
pre {
  place-items: center;
  margin: 0;
  height: 100vh;
  width: 100%;
}

body {
  display: grid;
  background: #222;
  color: rgb(255, 255, 255);
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-row: 2;
}

pre {
  display: grid;
  grid-row: 1;
  cursor: pointer;
  width: 100vw;
}

#info-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
  border-bottom: 1px solid rgb(255, 255, 255);
}

#title {
  font-family: "Array", sans-serif;
  font-size: 48px;
  font-weight: 600;
}

#location {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

#services {
  line-height: 0.99;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
}

#get-quote {
  font-family: "Array", sans-serif;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 0.88px;
  text-decoration: none !important;
  color: #fff;
}

#get-quote:hover {
  text-transform: uppercase;
  text-decoration: none !important;
}

a.portfolio {
  color: #fff;
  text-align: center;
  padding: 10px;
}

a.portfolio:hover {
  text-align: center;
}
