* {
  font-family: 'Tabular', sans-serif;
  font-size: 17px;
  box-sizing: border-box;
}

html {
  margin: 0;
}

body {
  margin: 0 auto;
  padding: 3px;
  background: rgb(237,237,237);
  background: linear-gradient(180deg, rgb(240, 240, 240) 0%, rgb(234, 234, 234) 50%, rgba(241,241,241,1) 100%);
}

.container {
  margin: 0;
  min-height: 100vh;
  text-align: center;
}

header {
  display: flex;
  justify-content: center;
}

h1 {
  font-family: Helvetica, sans-serif;
  font-size: 30px;
  letter-spacing: 1px;
  margin: 50px 0 20px;
}

.rounds {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
}

.round-label {
  font-weight: 400;
  margin: 0 auto 10px;
}

.outline {
  border: 1px solid rgb(127, 197, 255);
  border-radius: 25px;
  padding: 5px 12px 6px;
}

.voting-area {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px auto 100px;
  gap: 20px;
}

.settings-area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 100px;
  width: auto;
  padding: 20px;
  background: linear-gradient(333deg, rgba(237,237,237,1) 51%, rgb(255, 193, 127) 100%);
  border: 1px solid rgb(255, 193, 127);
  border-radius: 25px;
}

.option-area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: auto;
  padding: 20px;
  background: linear-gradient(333deg, rgba(237,237,237,1) 51%, rgba(127,197,255,1) 100%);
  border: 1px solid rgb(127, 197, 255);
  border-radius: 25px;
  position: relative;
}

.results-area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: auto;
  padding: 20px;
  margin: 10px 0 0;
  gap: 20px;
  background: linear-gradient(333deg, rgba(237,237,237,1) 51%, rgb(148, 127, 255) 100%);
  border: 1px solid rgb(148, 127, 255);
  border-radius: 25px;
}

.value-options {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
  padding: 19px;
  border-radius: 20px;
}

.card-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
}

.card-label {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  font-weight: 900;
  letter-spacing: 1px;
  margin: 0 0 10px;
}

.settings-card {
  background-color: rgb(230, 230, 230);
  width: auto;
  height: auto;
  align-content: left;
  justify-content: flex-start;
}

.settings {
  display: flex;
  flex-direction: column;
  background-color: rgb(234, 234, 234);
  border-radius: 20px;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.setting {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  margin: 0;
  background-color: rgb(234, 234, 234);
  border-radius: 20px;
  padding: 10px;
}

.setting-name {
  margin: 0;
  text-align: left;
  align-self: center;
  width: 200px;
  flex-wrap: wrap;
}

#vote-accrual-rate-input, #active-streak-threshold-input, #active-streak-accrual-rate-input {
  background: rgb(250, 250, 250);
  height: 44px;
  width: 92px;
  margin: 0;
  font-size: 20px;
  border: 1px solid #000000;
  border-radius: 10px;
  text-align: center;
  align-self: center;
}

.option-card {
  background-color: rgb(230, 230, 230);
  height: auto;
}

.stats-card {
  background-color: rgb(230, 230, 230);
  width: 320px;
  height: auto;
  align-content: left;
  justify-content: flex-start;
}

#stats-area {
  background-color: rgb(234, 234, 234);
  border-radius: 20px;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.stat {
  padding: 4px 10px;
  margin: 0;
  width: 100%;
  text-align: left;
}

.history-card {
  background-color: rgb(230, 230, 230);
  width: 320px;
  height: 372.5px;
  justify-content: flex-start;
}

#history-area {
  background-color: rgb(234, 234, 234);
  border-radius: 20px;
  padding: 4px 20px 10px;
  overflow: scroll;
  width: 100%;
  height: 100%;
}

#history-area p {
  margin: 0;
  text-align: left;
}

#history-area p:nth-child(4n+1) {
  margin: 10px 0 0;
  text-align: left;
  /*padding-top: 5px;
  border-top: 1px solid rgb(148, 127, 255);*/
  font-weight: 500;
}

#history-area p:nth-child(4n) {
  margin: 0 0 20px;
}

input {
  background: rgb(250, 250, 250);
  height: 40px;
  width: 87.2px;
  font-size: 20px;
  border: 1px solid #000000;
  border-radius: 10px;
  text-align: center;
  margin: 13px auto 10px;
  outline: none;
}

input::placeholder {
  color: #000000;
}

input:focus::placeholder {
  color: transparent;
}

input[disabled] {
  color: #a0a0a0;
  background-color: rgb(234, 234, 234);
  border: 1px solid #a0a0a0;
}

.number-controls {
  display: flex;
  flex-direction: row;
  font-size: 0;
  margin-bottom: 23px;
}

.number-control {
  display: flex;
  border: 1px solid #000000;
  background: rgb(250, 250, 250);
  width: 43.6px;
  height: 32px;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  justify-content: center;
  vertical-align: middle;
  color: #000000;
  cursor: pointer;
}

.number-control:hover {
  transition-duration: 0.3s;
  background-color: rgb(236, 236, 236);
}

.number-control[disabled] {
  border: 1px solid #a0a0a0;
  background-color: rgb(234, 234, 234);
  color: #a0a0a0;
  cursor: default;
}

.left {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.right {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.no-left-border {
  border-left-width: 0px;
}

.controls {
  display: flex;
  justify-content: space-around;
}

.button {
  width: auto;
  height: 44px;
  cursor: pointer;
  border-radius: 10px;
  background-color: rgb(250, 250, 250);
}

.button:hover {
  transition-duration: 0.3s;
  background-color: rgb(236, 236, 236);
}

.button[disabled] {
  transition-duration: 0.3s;
  background-color: rgb(234, 234, 234);
  color: #a0a0a0;
  cursor: default;
}

.next-round-container {
  margin: 0 auto 30px;
}

#next-round {
  width: auto;
  padding: 10px 12px;
  font-size: 17px;
  font-weight: 400;
  margin: 10px auto 30px;
  border: 1px solid #000000;
}

@keyframes glowing {
  0% { box-shadow: 0 0 -10px rgb(148, 127, 255); }
  40% { box-shadow: 0 0 20px rgb(148, 127, 255); }
  60% { box-shadow: 0 0 20px rgb(148, 127, 255); }
  100% { box-shadow: 0 0 -10px rgb(148, 127, 255);}
}

.button-glow {
  animation: glowing 2700ms infinite;  
}

#abstain {
  width: auto;
  padding: 10px 20px;
  margin: 20px auto 0;
}

#vote-button-a.button[disabled], #vote-button-b.button[disabled], #next-round.button[disabled], #abstain.button[disabled] {
  border: 1px solid #a0a0a0;
}

#vote-button-a, #vote-button-b, #abstain, #rate-set-button, #threshold-set-button, #streak-rate-set-button {
  padding: 10px 12px;
  border: none;
  font-size: 17px;
  font-weight: 400;
  border: 1px solid #000000;
  align-self: center;
}

#rate-set-button, #threshold-set-button, #streak-rate-set-button {
  width: 77px;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

.confirm {
  display: none;
}

.confirm > div:first-of-type {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0px;
  left: 0px;
  z-index: 2;
}

.confirm > div:last-of-type {
  padding: 10px 20px;
  background: white;
  position: fixed;
  width: auto;
  height: auto;
  left: 50%;
  top: 50%;
  vertical-align: middle;
  transform: translate(-50%, -50%);
  border-radius: 25px;
  border: 1px solid #333;
  z-index: 3;
}

.confirm > div:last-of-type div:first-of-type {
  min-width: 150px;
  padding: 10px 10px 20px;
}

.confirm > div:last-of-type div:last-of-type {
  text-align: center;
}

.confirm-choices {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 40px 10px;
}

#confirm-yes, #confirm-no {
  font-size: 17px;
  padding: 4px;
  border-radius: 10px;
  width: 70px;
  height: 44px;
  border: 1px solid #333;
  background: rgb(250, 250, 250);
}

#confirm-yes:hover, #confirm-no:hover {
  cursor: pointer;
  transition-duration: 0.3s;
  background-color: rgb(236, 236, 236);
}

.instructions {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-bottom: 5px;
}

.instruction {
  width: 350px;
  padding: 2px;
  text-align: center;
}

.instructions h3 {
  font-size: 14px;
}
